.logo {
  margin-left: 1rem;
  color: #c33124;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .logo {
    font-size: 1.5rem;
  }
}
