.Statistics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.Bar {
  margin-top: 2rem;
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
}

.Line {
  margin-top: 2rem;
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
}

.Doughnut {
  margin-top: 2rem;
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
}

@media screen and (max-width: 500px) {
  .Bar {
    margin-top: 2rem;
    width: 100%;
    max-width: 300px;
  }

  .Line {
    margin-top: 2rem;
    width: 100%;
    max-width: 300px;
  }

  .Doughnut {
    margin-top: 2rem;
    width: 100%;
    max-width: 300px;
  }

  .head {
    font-size: 1.4rem;
  }
}
